.layout {
  padding-top: 10vh;
  height: 100vh;
  text-align: center;
}

.title {
  margin: 5vh 0;
}

.body {
    margin: 8vh 0;
    font-size: larger;
}

.svg {
    text-decoration: none;
    color: black;
    margin: 2vh 1vh;
  }
  

.down {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 425px) {
   .title, .body {
      font-size: larger
  }
}