.layout {
  padding-top: 25vh;
  text-align: center;
  vertical-align: middle;
}

.title {
  margin-top: 5vh;
}

.container {
  height: 280px;
  padding: 20px 30px;
  margin: 30px 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

.down {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .title,
  body {
    font-size: larger;
  }
  .layout,
  .title {
    padding-top: 2vh;
  }
}
