.layout {
  padding-top: 20vh;
  text-align: center;
  vertical-align: middle;
}

.title {
  margin-top: 5vh;
}

.container {
  min-height: 280px;
  min-width: 280px;
  padding: 20px 10px;
  margin: 50px 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.down {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .title,
  body {
    font-size: larger;
  }
  .layout {
    padding-top: 6vh;
  }
  .title {
    margin-top: 3vh;
  }
}
